* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    background-image: url("../graph_city.jpg");*/
}
header {
    background-color: #000000;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color: #ffffff;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.intro {
    display: flex;
    max-width: 770px;
    justify-content: space-between;
    margin: 50px auto 30px auto;
    /*border: 1px solid red;*/
}

.introtext {
    max-width: 320px;
    text-align: center;
    font-size: 0.8rem;
}
#imagetop {
    max-width: 400px;
}

.otherstuff {
    display: flex;
    justify-content: space-between;
    max-width: 1135px;
    margin:0px auto 0px auto;
}

.otherstuff div {
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
   /* border: 1px solid red;*/
}
.otherstuff img {
    max-width: 200px;
    margin:0px auto 25px auto;
}

.otherstuff p {
    text-align: center;
    color: #333;
    line-height: 1.5em;
    font-size: 0.9rem;
}
