
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url("../graph_city.jpg")*/
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 160px 1fr;
    grid-template-areas: " header header header"
                         ". main .";
    grid-gap: 25px;
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main {
    grid-area: main;
    display: grid;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-areas: ". text toppicture .";
    grid-column-gap: 40px;



}

.introtext {
   text-align: center;
    grid-area: text;
    font-size: 0.8rem;
}

.intropic {
    grid-area: toppicture;
    align-self: auto;
}

.intro img {
    max-width: 320px;
}

.otherstuff {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-column-gap: 25px;
}

.otherstuff img {
    max-width: 200px;
    margin:30px 15px;
}

.otherstuff p {
    text-align: center;
    color: #333333;
    line-height: 1.5rem;
    font-size: 0.8rem;
}


